<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fruti-Lupi</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div id="vidas">
    <img src="/assets/corazon.png" class="vida" />
    <img src="/assets/corazon.png" class="vida" />
    <img src="/assets/corazon.png" class="vida" />
  </div>

  <div id="barra-tiempo-contenedor">
    <div id="barra-tiempo"></div>
  </div>

  <div id="puntaje">Puntaje: <span id="valor-puntaje">0</span></div>

  <div id="contenedor-frutas">
    <div class="burbuja-fruta">
      <img src="/assets/naranja_burbuja.png" class="fruta" data-fruta="naranja" alt="Fruta" />
    </div>
    <div class="burbuja-fruta">
      <img src="/assets/sandia_burbuja.png" class="fruta" data-fruta="sandia" alt="Fruta" />
    </div>
    <div class="burbuja-fruta">
      <img src="/assets/uva_burbuja.png" class="fruta" data-fruta="uva" alt="Fruta" />
    </div>
    <div class="burbuja-fruta">
      <img src="/assets/aguacate_burbuja.png" class="fruta" data-fruta="aguacate" alt="Fruta" />
    </div>
  </div>

  <img id="canasta" src="/assets/canasta.png" alt="" />
  <img id="lupi" src="/assets/Lupi.png" alt="" />
  <div id="pensamiento">
    <img id="burbuja" src="/assets/pensamiento.png" alt="Pensamiento" />
    <img id="fruta-pensada"/>
  </div>

   <div id="game-over-screen" class="oculto">
    <div class="game-over-box">
      <h1>¡Juego Terminado!</h1>
      
      <div class="final-score-container">
        <p class="final-score-label">Tu Puntaje Final</p>
        <p id="puntaje-final" class="final-score-value">0</p>
      </div>
      
      <button id="guardar-puntaje" class="btn-accion">Guardar Puntaje</button>
      
      <div class="game-over-actions">
        <button id="btn-reiniciar" class="btn-secundario">Jugar de Nuevo</button>
        <button id="btn-menu" class="btn-secundario">Menú Principal</button>
      </div>
    </div>
  </div>
  

  <script type="module" src="/js/musica.js"></script>
  <script type="module" src="/js/game_inteligente.js"></script>
</body>

</html>