<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>¿Quién juega? - Fruti-Lupi</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="login-container">
        <h1>¿Quién juega hoy?</h1>
        
        <!-- Cargar los perfiles de los niños dinámicamente -->
        <div id="user-selection-grid" class="user-selection-grid">

        </div>

        <button id="open-register-modal" class="btn-register">Soy un niño nuevo</button>
    </div>

    <!-- Modal de Registro -->
    <div id="register-modal" class="modal-overlay">
        <div class="modal-content">
            <span id="close-modal-btn" class="modal-close-btn">×</span>
            <h2>¡Bienvenido!</h2>
            <form id="register-form">
                <input type="text" id="register-nombre" placeholder="Escribe tu nombre" required>
                <input type="number" id="register-edad" placeholder="¿Cuántos años tienes?" required min="3">
                <button type="submit">¡Registrarme!</button>
            </form>
            <p id="mensaje-error" class="error-msg"></p>
        </div>
    </div>

    <script type="module" src="/js/login.js"></script>
</body>
</html>