/* --- Estilos Generales --- */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ruslan Display', cursive, sans-serif;
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/escenario.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* --- Contenedor Principal --- */
.menu-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5vh;
}

#logo {
    width: 60%;
    max-width: 700px;
    height: auto;
    margin-bottom: 2vh;
}

#lupi {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40vh;
  margin: 50px;
}

.btn-home {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #ffca28;
    border: 3px solid #a15c00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px #a15c00, 0 8px 15px rgba(0,0,0,0.3);
    transition: all 0.15s ease-out;
}

.btn-home svg {
    width: 32px;
    height: 32px;
    fill: #5d4037;
}

.btn-home:hover {
    background-color: #ffd54f;
    transform: translateY(-2px);
    box-shadow: 0 7px #a15c00, 0 10px 20px rgba(0,0,0,0.25);
}

.btn-home:active {
    transform: translateY(3px);
    box-shadow: 0 2px #a15c00, 0 4px 8px rgba(0,0,0,0.3);
}


/* --- Contenedor de Botones de Juego --- */
.menu-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 220px;
    margin-top: 3vh;
}

/* Estilo de Botón Principal */
.menu-actions button {
    font-family: 'Ruslan Display', cursive;
    font-size: clamp(2rem, 5vw, 3.5rem);
    color: white;
    background-color: #f48a00; 
    border: 4px solid #a15c00; 
    border-radius: 20px;
    padding: 10px 40px;
    cursor: pointer;
    text-shadow: 2px 2px 0 #a15c00; 
    box-shadow: 0 8px 0 #a15c00, 0 12px 20px rgba(0,0,0,0.4); 
    transition: all 0.15s ease-out;
}

/* Estilo específico para el botón de juego normal */
#btn-iniciar-juego {
  background-color: #e94e77; 
  border-color: #a72d4e;
  text-shadow: 2px 2px 0 #a72d4e;
  box-shadow: 0 8px 0 #a72d4e, 0 12px 20px rgba(0,0,0,0.4); 
}
#btn-iniciar-juego:hover {
  background-color: #f06a8f;
}
#btn-iniciar-juego:active {
    box-shadow: 0 2px 0 #a72d4e, 0 6px 10px rgba(0,0,0,0.4);
}

/* Estilo específico para el botón de juego inteligente */
#btn-iniciar-inteligente {
    background-color: #f48a00; /* Verde */
    border-color: #a15c00;
    text-shadow: 2px 2px 0 #a15c00;
    box-shadow: 0 8px 0 #a15c00, 0 12px 20px rgba(0,0,0,0.4);
}
#btn-iniciar-inteligente:hover {
    background-color: #f48a00;
}
#btn-iniciar-inteligente:active {
    box-shadow: 0 2px 0 #a15c00, 0 6px 10px rgba(0,0,0,0.4);
}

.menu-actions button:hover {
    transform: translateY(-2px);
}

.menu-actions button:active {
    transform: translateY(4px);
}